.App {
  text-align: center;
}

.App-dark {
  background-color: #121212;
  text-align: center;

}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  margin: 2%;
  padding: 8px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

.button-dark {
  background-color: #03dac6; /* Green */
  border: none;
  color: black;
  margin: 2%;
  padding: 8px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

h1{
  padding: 5%;
}

.h1-dark {
  color: white;
}